.toc-message-list {
  > :first-child {
    box-shadow: initial;
  }
  > :last-child {
    box-shadow: initial;
    margin-bottom: 20px;
  }
}

.toc-message {
  border: 0;
  background-color: transparent;
  padding-right: 72px;
  min-height: initial;

  .toc-message-content {
    white-space: normal;
  }
  .toc-message-status-area {
    position: absolute;
    right: 16px;
    top: 16px;
    pointer-events: none;
  }
  .toc-message-unread {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 72px;
    padding-right: 72px;
    height: 20px;
    text-align: left;
    font-size: 10px;
    width: 100%;
    z-index: -1;
    pointer-events: none;
  }
  .toc-message-unread-marker {
    background-position-y: 2px;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-image: radial-gradient(
      ellipse 60% 100%,
      transparentize($calm, 0.5),
      $light
    );
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  .toc-message-timestamp {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    color: $positive;
    font-size: 12px;
    padding-right: 16px;
    width: 72px;
    // non-standard, but necessary to enable text selection on chrome
    -webkit-user-select: auto;
  }
  .toc-message-datestamp {
    text-align: center;
    color: $positive;
    font-size: 12px;
    width: 100%;
    // non-standard, but necessary to enable text selection on chrome
    -webkit-user-select: auto;
  }
  .toc-message-sending-indicator {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    color: $calm;
    // font-size: 12px;
    padding-right: 16px;
    width: 72px;
    // .spinner svg {
    //   height: 20px;
    // }
  }
  p {
    margin-bottom: 0;
    // non-standard, but necessary to enable text selection on chrome
    -webkit-user-select: auto;
  }
  h2 {
    // non-standard, but necessary to enable text selection on chrome
    -webkit-user-select: auto;
  }
}

.toc-message-avatar {
  padding-bottom: 0;
  > img:first-child {
    top: initial;
    bottom: 0;
  }
}

.toc-message-simple {
  border-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  img {
    display: none;
  }
  h2 {
    display: none;
  }
}

.toc-message-user {

}

.toc-message-contact {

}
