<div class="toc-message-list list">
  <div class="toc-message item item-avatar"
    ng-repeat="message in messageList.messages track by message.messageInfo.id"
    ng-class="{
      'toc-message-avatar': messageList.isSenderSeparator(message),
      'toc-message-simple': !messageList.isSenderSeparator(message),
      'toc-message-user': messageList.isByUser(message),
      'toc-message-contact': !messageList.isByUser(message)
    }">
    <img ng-src="{{messageList.getAvatar(message)}}"
      alt="Avatar for {{messageList.getUserInfo(message).email}}"
      ng-if="messageList.isSenderSeparator(message)" />
    <div ng-if="messageList.isUnread(message)"
      class="toc-message-unread">
      <div class="toc-message-unread-marker">
      </div>
    </div>
    <div ng-if="messageList.isDateSeparator(message)"
      class="toc-message-datestamp" toc-auto-select>
      {{::messageList.getDatestamp(message)}}
    </div>
    <h2 toc-auto-select>
      {{
        messageList.isByUser(message) ?
          'You' :
          messageList.getUserInfo(message).displayName || 'Anonymous'
      }}
    </h2>
    <p class="toc-message-content" toc-auto-select>
      {{::message.messageInfo.content}}
    </p>
    <div ng-if="messageList.isMinuteSeparator(message)"
      ng-hide="messageList.isMessageSending(message)"
      class="toc-message-timestamp" toc-auto-select>
      {{::messageList.getTimestamp(message)}}
    </div>
    <div class="toc-message-sending-indicator"
      ng-if="messageList.isMessageSending(message)">
      ...
    </div>
  </div>
</div>
