.toc-notification-overlay {
  display: block;
  background-color: transparent;
  box-shadow: none !important;
  animation-timing-function: $toc-animation-timing-function;
  animation-duration: 1s;
  animation-fill-mode: both;
  &.ng-enter {
    animation-name: tocFadeInRight;
  }
  &.ng-leave {
    animation-name: tocFadeOutLeft;
  }
}
