* text eol=lf

*.vsdx binary
*.docx binary
*.pdf binary
*.png binary
*.jpg binary
*.swf binary
*.as binary
*.so binary
*.zip binary
*.gzip binary
*.bz2 binary
*.dat binary
*.pak binary
*.jar binary
*.node binary
*.eot binary
*.ttf binary
*.woff binary
