.idea
/npm-debug.log
/.vagrant
/.vagrant.vmware
/.vagrant.virtualbox
/secrets
/cache/*
!/cache/bundle
/cache/bundle/*
!/cache/bundle/placeholder

/toc/app/*.css
/toc/*.css
/www
/mobile
/bundle
/platforms
/plugins
/node_modules
/toc/app/dependencies
/toc/cordova.js
/toc/plugins/*
/resources/*
!/resources/*.*
/*.apk
/*.ipa
