.toc-channel-card {
  border-color: transparent;
  // background-color: $light;
  h2 {
    margin-left: 16px;
  }
}

.toc-channel-card-status-indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 72px;
  top: 22px;
}

.toc-channel-card-quote-unread {
  font-style: italic;
}

.toc-contact-status-unknown {
  border: 2px solid lighten($dark, 50);
  background-color: lighten($dark, 50);
}

.toc-contact-status-pending {
  border: 2px solid lighten($dark, 50);
}

.toc-contact-status-offline {
  border: 2px solid $balanced;
}

.toc-contact-status-online {
  border: 2px solid $balanced;
  background-color: $balanced;
}

.toc-channel-pending {
  h2 {
    font-style: italic;
  }
  p {
    font-style: italic;
  }
}
