<div class="card"
  ng-repeat="(id, message) in messageList.messages track by id">
  <div class="item item-divider" ng-class="{
    'item-balanced': message.messageInfo.sender !== messageList.userId,
    'item-calm': message.messageInfo.sender === messageList.userId
  }">
    {{
      message.messageInfo.sender === messageList.userId ?
      'You' :
      messageList.contacts[message.messageInfo.sender].userInfo.displayName
    }} said at {{message.messageInfo.logicalClock}}:
  </div>
  <div class="item item-text-wrap">
    {{message.messageInfo.receivedTime | date : 'short'}} :
    {{message.messageInfo.content}}
  </div>
</div>
