.toc-message-list {
  .list {
    > :first-child {
      box-shadow: unset;
    }
    > :last-child {
      box-shadow: unset;
      margin-bottom: 20px;
    }
  }
}

.toc-message {
  border: 0;
  background-color: transparent;
  padding-right: 72px;
  min-height: unset;

  .toc-message-content {
    white-space: normal;
  }
  .toc-message-status-area {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .toc-message-unread {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 72px;
    padding-right: 72px;
    height: 20px;
    text-align: left;
    font-size: 10px;
    width: 100%;
    z-index: -1;
  }
  .toc-message-unread-marker {
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-image: radial-gradient(
      ellipse 50% 40%,
      $energized,
      $light
    );
    height: 100%;
    width: 100%;
  }
  .toc-message-timestamp {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: right;
    color: $royal;
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
  .toc-message-datestamp {
    text-align: center;
    color: $royal;
    font-size: 12px;
    width: 100%;
  }
  .toc-message-sending-indicator {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: right;
    color: $energized;
    // font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    // .spinner svg {
    //   height: 20px;
    // }
  }
}

.toc-message-avatar {
  padding-bottom: 0;
  > img:first-child {
    top: unset;
    bottom: 0;
  }
}

.toc-message-simple {
  border-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  img {
    display: none;
  }
  h2 {
    display: none;
  }
}

.toc-message-user {
  h2 {
    color: lighten($dark, 20);
  }
  p {
    color: lighten($dark, 20);
  }
}

.toc-message-contact {
  h2 {
    color: $dark;
  }
  p {
    color: $dark;
  }
}
