<div class="list">
  <div ng-repeat="messageGroup in messageList.groupedMessages
    track by messageGroup[0].id">
    <div class="row calm-bg"></div>
    <div class="item item-avatar">
      <img src="http://cdn.libravatar.org/avatar/2012345b479e2123456ec07711c08d50?d=identicon" alt="Avatar for  {{
        messageGroup[0].sender === messageList.userInfo.id ?
        messageList.userInfo.email :
        messageList.contacts[messageGroup[0].sender].userInfo.email
      }}" />
      <h2>{{
        messageGroup[0].sender === messageList.userInfo.id ?
        'You' :
        messageList.contacts[messageGroup[0].sender].userInfo.displayName
      }} at {{
        messageGroup[0].sender === messageList.userInfo.id ?
        messageGroup[0].sentTime : messageGroup[0].receivedTime |
        date : 'short'
      }}</h2>
      <p ng-repeat="message in messageGroup track by message.id">
        {{message.content}}
      </p>
    </div>
  </div>
</div>
