<ion-list>
  <!-- FIXME: collection-repeat makes for buggy borders -->
  <!-- TODO: use one time bindings for constant values -->
  <ion-item class="toc-message item-avatar"
    ng-repeat="message in messageList.messages
      track by message.messageInfo.id"
    ng-class="messageList.isMessageSeparator(message) ?
      'toc-message-separator' :
      'toc-message-simple'
    ">
    <img ng-src="{{messageList.getAvatar(message)}}"
      alt="Avatar for {{messageList.getUserInfo(message).email}}" />
    <h2>{{messageList.getUserInfo(message).displayName}}</h2>
    <p class="toc-message-content">{{::message.messageInfo.content}}</p>
    <div class="toc-message-status-area">
      <p class="toc-message-timestamp">
        {{messageList.getTimestamp(message)}}
      </p>
    </div>
  </ion-item>
  <!-- <div ng-repeat="messageGroup in messageList.groupedMessages
    track by messageGroup[0].id">
    <div class="row" ng-class="{
      'balanced-bg': messageGroup[0].sender !== messageList.userInfo.id,
      'calm-bg': messageGroup[0].sender === messageList.userInfo.id
    }"></div>
    <div class="item item-avatar">
      <img ng-src="{{
        messageGroup[0].sender === messageList.userInfo.id ?
        messageList.getAvatar(messageList.userInfo.email) :
        messageList.getAvatar(messageList.contacts[messageGroup[0].sender].userInfo.email)}}" alt="Avatar for  {{
        messageGroup[0].sender === messageList.userInfo.id ?
        messageList.userInfo.email :
        messageList.contacts[messageGroup[0].sender].userInfo.email
      }}" />
      <h2>{{
        messageGroup[0].sender === messageList.userInfo.id ?
        'You' :
        messageList.contacts[messageGroup[0].sender].userInfo.displayName
      }}</h2>
      <div class="row toc-message" ng-repeat="message in messageGroup track by message.id"
        ng-class="{'toc-unread-message': !message.isRead}">
        <p class="col toc-message-content">
          {{message.content}}
        </p>
        <p class="col col-20 toc-message-timestamp">
          {{
            message.sender === messageList.userInfo.id ?
            message.sentTime : message.receivedTime |
            date : 'shortTime'
          }}
        </p>
      </div>
    </div>
  </div> -->
</ion-list>
