<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Connect a Storage Service</h1>
  </ion-header-bar>
  <ion-content class="has-subfooter">
    <div class="list">
      <div class="item item-divider item-calm item-clear">
        Which service would you prefer?
      </div>
      <ion-radio class="item item-avatar toc-square-avatar toc-cloud-service-item"
        ng-repeat="(id, service) in ::cloudConnectModal.services track by id"
        ng-model="cloudConnectModal.selectedService" ng-value="::id">
        <img ng-src="assets/images/{{::service.img}}"
          alt="Icon for {{::service.name}}" />
        <h2>{{::service.name}}</h2>
        <p>{{::service.description}}</p>
      </ion-radio>
      <!-- <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="password" placeholder="Your remoteStorage.io email."
          ng-model="cloudConnectModal.email" toc-auto-focus>
      </label> -->
    </div>
  </ion-content>
  <div class="bar bar-subfooter">
    <div class="col">
      <a onclick="window.open('https://remotestorage.io/get/', '_system');"
        class="button button-block button-calm button-outline">
        Get a storage account
      </a>
    </div>
  </div>
  <ion-footer-bar>
    <div class="col">
      <button class="button button-block button-positive button-outline"
        ng-click="::cloudConnectModal.removeModal()">
        Cancel
      </button>
    </div>
    <div class="col">
      <button class="button button-block button-positive"
        ng-click="::cloudConnectModal.connect()">
        Connect
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
