<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h1 class="title">Welcome to Toc Messenger!</h1>
  </ion-header-bar>
  <ion-content class="has-subfooter">
    <div class="list">
      <div class="item item-divider item-calm item-clear">
        First time using Toc?
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">
          Enter your password
        </span>
        <input type="password"
          placeholder="A password is all you need to get started"
          ng-model="passwordPromptModal.password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">
          Verify your password
        </span>
        <input type="password"
          placeholder="Enter it one more time, just in case"
          ng-model="passwordPromptModal.passwordConfirm">
      </label>
      <!-- TODO: save last staySignedIn choice and load it as default -->
      <ion-toggle ng-model="passwordPromptModal.staySignedIn"
        toggle-class="toggle-calm" class="toc-stay-signed-in-toggle">
        Remain signed in next time?
        <span class="item-note" ng-show="passwordPromptModal.staySignedIn">
          We'll remember you until you sign out
        </span>
        <span class="item-note" ng-hide="passwordPromptModal.staySignedIn">
          We'll ask for your password again
        </span>
      </ion-toggle>
      <!-- <div class="item item-divider item-calm item-clear">
        What do we do with your data?
      </div>
      <div class="item">
        Well... ( •_•)>⌐■-■
      </div>
      <div class="item item-icon-right">
        <i class="icon ion-cash"></i>
        We turn it into cold, hard cash.
      </div>
      <div class="item">
        (⌐■_■)
      </div> -->
    </div>
    <div class="padding">
      <button type="button"
        class="button button-block button-calm button-outline">
        Get Toc for other platforms
      </button>
    </div>
    <!-- <div class="padding">
      <button type="button"
        class="button button-block button-calm button-outline">
        How do we use your data?
      </button>
    </div> -->
  </ion-content>
  <div class="bar bar-subfooter">
    <div class="col">
      <button type="button"
        class="button button-outline button-block button-royal">
        Already have a Toc account?
        <!-- modal title: let's get you connected! -->
      </button>
    </div>
  </div>
  <ion-footer-bar>
    <div class="col">
      <button class="button button-block button-outline button-balanced"
        ng-click="passwordPromptModal.signUp()">
        Let's get started!
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
