<ion-header-bar class="bar-positive">
  <h1 class="title">Options</h1>
</ion-header-bar>
<ion-content>
  <div class="list">
    <div class="item">
      About Toc
    </div>
    <div class="item" ng-click="optionsMenu.showIdPopup()">
      Display your ID
    </div>
    <div class="item" ng-click="optionsMenu.showCloudConnectModal()">
      Sync your profile
    </div>
    <div class="item" ng-click="optionsMenu.showDeleteDataConfirm()">
      Clear local data
    </div>
    <div class="item" ng-click="optionsMenu.showSignoutConfirm()">
      Sign out
    </div>
  </div>
</ion-content>
<ion-footer-bar>
  <div class="col">
    <button class="button button-block button-outline button-balanced"
      ng-click="optionsMenu.showBeginConversationModal()">
      Start a conversation
    </button>
  </div>
</ion-footer-bar>
