<ion-header-bar class="bar-positive">
  <h1 class="title">Options</h1>
</ion-header-bar>
<ion-content>
  <div class="list">
    <div class="item item-icon-left" ng-click="::optionsMenu.showAboutModal()">
      <i class="icon ion-information-circled"></i>
      About Toc
    </div>
    <div class="item item-icon-left" ng-click="::optionsMenu.showIdPopup()">
      <i class="icon ion-ios-barcode"></i>
      Display your ID
    </div>
    <div class="item item-icon-left"
      ng-click="::optionsMenu.showCloudConnectModal()"
      ng-if="!optionsMenu.isStorageConnected()">
      <i class="icon ion-android-sync"></i>
      Sync your profile
    </div>
    <div class="item item-icon-left"
      ng-click="::optionsMenu.showCloudDisconnectConfirm()"
      ng-if="optionsMenu.isStorageConnected()">
      <i class="icon ion-android-sync"></i>
      Disconnect your profile
    </div>
    <div class="item item-icon-left"
      ng-click="::optionsMenu.showDeleteDataConfirm()">
      <i class="icon ion-trash-b"></i>
      Clear local data
    </div>
    <div class="item item-icon-left"
      ng-click="::optionsMenu.showSignoutConfirm()">
      <i class="icon ion-android-exit"></i>
      Sign out
    </div>
  </div>
</ion-content>
<ion-footer-bar>
  <div class="col">
    <button class="button button-block button-positive"
      ng-click="::optionsMenu.showBeginConversationModal()">
      Start a conversation
    </button>
  </div>
</ion-footer-bar>
