<ion-modal-view>
  <form name="tocPasswordPromptForm" id="toc-password-prompt-form"
    ng-submit="passwordPromptModal.begin(tocPasswordPromptForm)" novalidate>
  <ion-header-bar class="bar-positive">
    <h1 class="title">
      {{
        passwordPromptModal.userExists ?
          'Welcome Back to Toc Messenger' :
          'Welcome to Toc Messenger'
      }}
    </h1>
  </ion-header-bar>
  <ion-content class="has-subfooter">
    <div class="list">
      <div class="item item-divider item-calm item-clear">
        {{
          passwordPromptModal.userExists ?
            'Nice to see you again!' :
            'First time using Toc?'
        }}
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">
          Enter your password
        </span>
        <input type="password" form="toc-password-prompt-form"
          placeholder="{{
            passwordPromptModal.userExists ?
              'A password is all you need to continue' :
              'A password is all you need to get started'
          }}"
          ng-model="passwordPromptModal.password" toc-auto-focus required>
      </label>
      <label class="item item-input item-floating-label"
        ng-if="!passwordPromptModal.userExists">
        <span class="input-label">
          Verify your password
        </span>
        <input type="password" form="toc-password-prompt-form"
          placeholder="Enter it one more time, just in case"
          toc-equal-to="passwordPromptModal.password"
          ng-model="passwordPromptModal.passwordConfirm" required>
      </label>
      <ion-toggle ng-model="passwordPromptModal.staySignedIn"
        form="toc-password-prompt-form"
        toggle-class="toggle-calm" class="toc-stay-signed-in-toggle">
        Remain signed in next time?
        <span class="item-note">
          {{
            passwordPromptModal.staySignedIn ?
              'We\'ll remember you until you sign out' :
              'We\'ll ask for your password again'
          }}
        </span>
      </ion-toggle>
    </div>
  </ion-content>
  <div class="bar bar-subfooter">
    <div class="col">
      <button type="button"
        ng-click="passwordPromptModal.showCloudConnectModal()"
        class="button button-outline button-block button-royal">
        <!-- TODO: connect to different account if already connected -->
        {{
          passwordPromptModal.userExists ?
            'Use this account on other devices?' :
            'Already have a Toc account?'
        }}
      </button>
    </div>
  </div>
  <ion-footer-bar>
    <div class="col">
      <button type="submit" form="toc-password-prompt-form"
        class="button button-block button-outline button-balanced">
        {{
          passwordPromptModal.userExists ?
            'Let\'s continue!' :
            'Let\'s get started!'
        }}
      </button>
    </div>
  </ion-footer-bar>
  </form>
</ion-modal-view>
