.toc-stay-signed-in-toggle {
  padding-top: 11px;
  padding-bottom: 11px;
  .toggle {
    top: 20px;
  }
  span {
    display: block;
  }
  .item-note {
    margin-top: 10px;
    float: initial;
  }
}
