// To customize the look and feel of Ionic, you can override the variables
// in ionic's _variables.scss file.
//
// For example, you might change some of the default colors:
//
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$card-border-radius: 0 !default;
$button-border-radius: 0 !default;
$popup-button-border-radius: 0 !default;
$popup-background-color: #fff !default;
$button-bar-button-font-size: 15px !default;
$bar-light-border: white !default;
$bar-footer-height: 75px !default;
$bar-subfooter-height: 65px !default;
//FIXME: cant select text in side menu
// .disable-user-behavior {
//   user-select: text;
//   -webkit-user-select: text;
// }
// .card .item-input {
//   padding: 6px 0 6px 16px;
// }

// Library imports
@import 'libraries/libraries';
// App imports
@import 'views/views';
@import 'components/components';

.item-input-wrapper {
  border-radius: 0;
}

.bar-footer .button {
  margin-top: 0;
  height: 42px;
  line-height: 40px;
}

.bar-subfooter .button {
  margin-top: 0;
  height: 42px;
  line-height: 40px;
}

.button {
  opacity: 1;
  transition: opacity 0.75s ease-in;
}

.button[disabled] {
  transition: opacity 0.75s ease-in;
}

.toc-square-avatar .item-content > img:first-child {
  border-radius: 0;
}
//
// .toc-flex-container {
//   @include display-flex;
//   @include flex-direction(column);
//   height: 100%;
// }
//
// .toc-flex-content {
//   @include flex(1);
//   z-index: 1;
// }
//
// .toc-flex-footer {
//   background-color: $light;
//   z-index: 2;
// }

.toc-hidden {
  display: none;
}

.toc-fadein {
  opacity: 1;
  transition: opacity 0.75s ease-in;
}

.toc-fadeout {
  opacity: 0;
  transition: opacity 0.75s ease-in;
}
