@import 'libraries/mprogress/mprogress';

.loading-screen {
  background-color: #ffffff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.fadeout-loading-screen {
  opacity: 0;
  transition: opacity 1.5s ease-in; //same timing as loading indicator queryend
}

//
// .fadeout-spinner {
//   opacity: 0;
//   transition: opacity 0.4s ease-in;
// }
//
// .spinner-area {
//   bottom: 0;
//   height: 60px;
//   left: 0;
//   margin: auto;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 60px;
// }
//
// //TODO: refactor into reusable component
// //TODO: redesign into custom animation?
// .spinner {
//   font-size: 0;
//   height: 100%;
//   margin: auto;
//   text-align: center;
//   width: 100%;
//
//   > div {
//     animation: stretchdelay 1s infinite ease-in-out,
//     fadein 0.4s ease-in;
//     animation-fill-mode: forwards;
//     background-color: #333333;
//     display: inline-block;
//     height: 100%;
//     margin: 0 2px;
//     opacity: 0;
//     width: 8px;
//   }
//
//   $spinner-base-delay: 1;
//   $spinner-delay-increment: 0.1;
//
//   .rect1 {
//     animation-delay: ($spinner-base-delay + 0 * $spinner-delay-increment) * 1s;
//   }
//
//   .rect2 {
//     animation-delay: ($spinner-base-delay + 1 * $spinner-delay-increment) * 1s;
//   }
//
//   .rect3 {
//     animation-delay: ($spinner-base-delay + 2 * $spinner-delay-increment) * 1s;
//   }
//
//   .rect4 {
//     animation-delay: ($spinner-base-delay + 3 * $spinner-delay-increment) * 1s;
//   }
//
//   .rect5 {
//     animation-delay: ($spinner-base-delay + 4 * $spinner-delay-increment) * 1s;
//   }
// }
//
// @keyframes fadein {
//   from {
//     opacity: 0;
//   }
//
//   to {
//     opacity: 1;
//   }
// }
//
// @keyframes stretchdelay {
//   0%, 40%, 100% {
//     transform: scaleY(0.4);
//   }
//
//   20% {
//     transform: scaleY(1);
//   }
// }
