@mixin toc-static-landing-font($font-size) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size * 3/4;

  @media (min-width: 768px) {
    font-size: $font-size;
  }
}

@mixin toc-static-margin-bottom($margin-size) {
  margin-bottom: $margin-size * 3/4;

  @media (min-width: 768px) {
    margin-bottom: $margin-size;
  }
}

.toc-static-body {
  margin: 0;
  // overflow: hidden;
}

.toc-static-landing-content {
  // overflow: scroll;
}

.toc-static-fullscreen-section {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toc-static-button {
  color: #D9E7FF;
  border: 2px solid #D9E7FF;
  background: none;
  box-shadow: none;
  font-weight: 300;
  width: 100%;
  padding: 9px 18px;
  @media (min-width: 768px) {
    padding: 12px 24px;
  }
  transition: 0.1s linear;
  @include toc-static-landing-font(24px);

  &:hover {
    color: #ffffff;
    border-color: #ffffff;
  }

  &:active {
    background: #ffffff;
    color: #387ef5;
  }
}

.toc-static-primary-button {
  background: #D9E7FF;
  color: #387ef5;

  &:hover {
    color: #387ef5;
    background: #ffffff;
    border-color: #ffffff;
  }

  &:active {
    background: none;
    color: #D9E7FF;
  }
}

.toc-static-call-to-action-section {
  background-color: #387ef5;
}

.toc-static-fullscreen-container {
  @media (min-width: 550px) {
    width: 92%;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.toc-static-call-to-action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 400px;
  padding: 25px;
}

.toc-static-call-to-action-heading {
  @include toc-static-margin-bottom(24px);

  h1 {
    @include toc-static-landing-font(40px);
    color: #E7F1FF;
    font-weight: 300;
    margin: 0;
  }
}

.toc-static-call-to-action-message {
  @include toc-static-margin-bottom(24px);

  p {
    @include toc-static-landing-font(24px);
    @include toc-static-margin-bottom(16px);
    margin-top: 0;
    color: #DCE9FF;
  }
}

.toc-static-call-to-action-images {
  flex: 1 1 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toc-static-call-to-action-image-phone {
  width: 250px;
  height: 508px;
  background: url(assets/images/phone.svg);
  background-size: cover;
}

.toc-static-call-to-action-actions {
  max-width: 400px;
  width: 90%;
}

.toc-static-call-to-action-action {
  flex: 1 1 auto;
  @include toc-static-margin-bottom(24px);
}

.toc-static-call-to-action-secondary-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  flex: 1 1 300px;
  padding: 0 25px;
}

.toc-static-call-to-action-secondary-action {
  flex: 1 1 300px;
  @include toc-static-margin-bottom(24px);
}

.toc-loading-screen {
  background-color: #ffffff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.toc-fadeout-loading-screen {
  opacity: 0;
  transition: opacity 1.5s ease-in; //same timing as loading indicator queryend
}

.toc-non-interactive {
  pointer-events: none;
}

.toc-spinner-area {
  bottom: 0;
  height: 56px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  .spinner svg {
    height: 56px;
    width: 56px;
  }
}
