<ion-view view-title="Toc Messenger">
  <div class="bar bar-subheader">
    <toc-user-card enable-dismiss-notifications>
    </toc-user-card>
  </div>
  <ion-content class="has-subheader has-subfooter">
    <toc-notification-list></toc-notification-list>

      <!-- <label class="item item-input item-stacked-label">
        <span class="input-label">User ID</span>
        <input type="text" placeholder="ID"
          value="{{homeView.currentUser.userInfo.id}}" readonly>
      </label>
      <div class="item item-image toc-qr-image-container">
        <toc-qr-image data="{{homeView.currentUser.userInfo.id}}">
        </toc-qr-image>
      </div> -->
  </ion-content>
  <div class="bar bar-subfooter" ng-if="!homeView.isStorageConnected()">
    <div class="col">
      <button ui-sref="app.private.cloud" class="button button-block button-outline button-royal">
        Connect a cloud account
      </button>
    </div>
  </div>
  <ion-footer-bar>
    <div class="col">
      <button class="button button-block button-outline button-assertive"
        ng-click="homeView.showSignoutConfirm()">
        Sign out
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
