<ion-view view-title="Toc Messenger">
  <ion-content>
    <div class="toc-flex-container">
      <div class="toc-flex-content">

      </div>
      <div class="toc-flex-footer">
        <!-- <div class="row">
          <div class="col">
            <button class="button button-block button-outline button-calm"
              ng-click="welcomeView.manageCloud()">
              Manage your cloud accounts
            </button>
          </div>
        </div> -->
        <div class="row">
          <div class="col">
            <button ui-sref="app.cloud" class="button button-block button-outline button-calm">
              Connect a cloud account
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button ui-sref="app.signup"
              class="button button-block button-outline button-calm">
              Create account
            </button>
          </div>
          <div class="col">
            <button ui-sref="app.signin"
              class="button button-block button-outline button-calm"
              ng-disabled="!welcomeView.users">
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
