<ion-view view-title="Welcome to Toc">
  <ion-tabs class="tabs-bottom tabs-striped tabs-color-assertive">
    <!-- TODO: default tab to New User and hide Existing User when no users -->
    <ion-tab title="Existing User">
      <ion-header-bar class="bar bar-light"></ion-header-bar>
      <ion-content class="has-header">
        <toc-signin-form></toc-signin-form>
      </ion-content>
    </ion-tab>
    <ion-tab title="New User">
      <ion-header-bar class="bar bar-light"></ion-header-bar>
      <ion-content class="has-header">
        <toc-signup-form></toc-signup-form>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
