<ion-header-bar class="bar-positive">
  <h1 class="title">Menu</h1>
</ion-header-bar>
<ion-content>
  <div class="list">
    <div class="item item-divider item-royal">
      Account
    </div>
    <div class="item item-toggle">
      Remember Me
      <label class="toggle toggle-royal">
        <input type="checkbox" checked disabled>
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
    <label class="item item-input item-floating-label">
      <span class="input-label">RemoteStorage.io Account</span>
      <input type="text" placeholder="RemoteStorage.io Account" disabled>
    </label>
    <div class="item item-divider item-assertive">
      Security
    </div>
    <div class="item item-toggle">
      Storage Encryption
      <label class="toggle toggle-assertive">
        <input type="checkbox" checked disabled>
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
  </div>
</ion-content>
