<form name="toc-signin-form" class="toc-flex-container"
  ng-submit="signinForm.signIn({
    id: signinForm.model.selectedUser,
    password: signinForm.model.password
  })">
  <ion-content class="has-subfooter">
    <div class="list">
      <div class="item item-divider item-calm item-clear">
        Welcome back {{signinForm.model.users[signinForm.model.selectedUser].userInfo.displayName}}!
      </div>
      <label class="item item-avatar">
        <img ng-src="{{signinForm.getAvatar(signinForm.model.users[signinForm.model.selectedUser].userInfo)}}"
          alt="Avatar for {{signinForm.model.users[signinForm.model.selectedUser].userInfo.email}}" />
        <h2>{{signinForm.model.users[signinForm.model.selectedUser].userInfo.displayName}}</h2>
        <p>{{signinForm.model.users[signinForm.model.selectedUser].userInfo.id}}</p>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="To unlock your data."
          ng-model="signinForm.model.password" toc-auto-focus>
      </label>
      <ion-toggle ng-model="signinForm.model.staySignedIn"
        toggle-class="toggle-assertive">
        Stay signed in?
      </ion-toggle>
    </div>
  </ion-content>

  <div class="bar bar-subfooter">
    <div class="col">
      <button type="button"
        class="button button-block button-outline button-royal"
        ng-click="signinForm.userListModal.show()">
        Not you?
      </button>
    </div>
  </div>
  <ion-footer-bar>
    <div class="col">
      <button type="button" ng-click="signinForm.goBack()"
        class="button button-block button-outline button-calm">
        Back
      </button>
    </div>
    <div class="col">
      <button type="submit"
        class="button button-block button-outline button-balanced"
        toc-spinner-button loading-promise="signinForm.signingIn">
        <!-- <ion-spinner icon="ripple" class="spinner-light"></ion-spinner> -->
        Sign in
      </button>
    </ion-footer-bar>
  </div>
</form>
