<form name="toc-signin-form">
  <div class="card list">
    <div class="item item-divider item-calm">
      Welcome Back!
    </div>
    <!-- TODO: make user list scrollable -->
    <ion-radio class="item item-avatar"
      ng-repeat="(id, user) in signinForm.users track by id"
      ng-model="signinForm.selectedUser" ng-value="'{{id}}'"
      icon="ion-checkmark">
      <img src="http://cdn.libravatar.org/avatar/{{user.userInfo.id | limitTo:32}}?d=identicon" alt="Avatar for {{user.userInfo.email}}" />
      <h2>{{user.userInfo.displayName}}</h2>
      <p>{{user.userInfo.id}}</p>
    </ion-radio>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password"
        ng-model="signinForm.password" autofocus>
    </label>
    <div class="item item-divider button-bar">
      <button type="submit" class="button button-balanced"
        ng-click="signinForm.signIn()" toc-spinner-button
        loading-promise="signinForm.signingIn">
        <i class="icon ion-log-in"></i>
        <ion-spinner icon="ripple" class="spinner-light"></ion-spinner>
      </button>
    </div>
  </div>
</form>
