<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h1 class="title">Choose an account</h1>
  </ion-header-bar>
  <ion-content>
    <div class="toc-flex-container">
      <div class="toc-flex-content">
        <ion-scroll>
          <div class="list">
            <ion-radio class="item item-avatar"
              ng-repeat="user in model.userList track by user.userInfo.id"
              ng-model="model.selectedUser" ng-value="'{{user.userInfo.id}}'"
              ng-click="userListModal.hide()"
              icon="ion-checkmark">
              <img ng-src="{{getAvatar(user.userInfo.email)}}" alt="Avatar for {{user.userInfo.email}}" />
              <h2>{{user.userInfo.displayName}}</h2>
              <p>{{user.userInfo.id}}</p>
            </ion-radio>
          </div>
        </ion-scroll>
      </div>
      <div class="toc-flex-footer">
        <div class="row">
          <div class="col">
            <button class="button button-block button-outline button-calm"
              ng-click="userListModal.hide()">
              Cancel
            </button>
          </div>
          <div class="col">
            <button class="button button-block button-outline button-balanced"
              ng-click="userListModal.hide()">
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
