<div class="card list">
  <div class="item item-divider item-calm">
    Welcome Back!
  </div>
  <ion-radio class="item item-avatar"
    ng-repeat="(id, user) in signinForm.users track by user.id"
    ng-model="signinForm.selectedUser" ng-value="{{id}}"
    icon="ion-checkmark">
    <img src="http://cdn.libravatar.org/avatar/2012345b479e2123456ec07710c08d50?d=identicon" alt="Avatar for {{user.email}}" />
    <h2>{{user.displayName}}</h2>
    <p>{{user.id}}</p>
  </ion-radio>
  <div class="item item-divider button-bar">
    <button class="button button-balanced">
      Sign In
    </button>
  </div>

</div>
