<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Share an Invite Post</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider item-calm item-clear">
        Where would you like to share it?
      </div>
      <ion-radio class="item-icon-left"
        ng-repeat="(id, shareMethod) in ::invitePostModal.shareMethods
          track by id"
        ng-model="invitePostModal.shareMethod"
        ng-value="::id" ng-if="::shareMethod.isEnabled">
        <i class="icon" ng-class="::shareMethod.icon"></i>
        {{::shareMethod.text}}
      </ion-radio>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="col">
      <button class="button button-block button-positive button-outline"
        ng-click="::invitePostModal.removeModal()">
        Cancel
      </button>
    </div>
    <div class="col">
      <button class="button button-block button-positive"
        ng-click="::invitePostModal.doShare()">
        Share
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
