<ion-header-bar class="bar-positive">
  <h1 class="title">Options</h1>
</ion-header-bar>
<ion-content>
  <div class="list">
    <div class="item">
      Start a conversation
    </div>
    <div class="item" ng-click="optionsMenu.showCloudConnectModal()">
      Use this account on other devices
    </div>
    <div class="item" ng-click="optionsMenu.showDeleteDataConfirm()">
      Remove your data from this device
    </div>
    <div class="item">
      Show hints
    </div>
    <div class="item">
      <!-- TODO: add open source licenses here -->
      About Toc
    </div>
  </div>
</ion-content>
<ion-footer-bar>
  <div class="col">
    <button class="button button-block button-outline button-assertive"
      ng-click="optionsMenu.showSignoutConfirm()">
      Sign out
    </button>
  </div>
</ion-footer-bar>
