<ion-view view-title="Toc Messenger">
  <div class="bar bar-subheader toc-channel-subheader">
    <toc-channel-card channel-id="{{::channelView.channelId}}"
      ng-click="channelView.viewLatest()">
    </toc-channel-card>
  </div>

  <ion-content class="has-subheader">
    <toc-message-list channel-id="{{::channelView.channelId}}">
    </toc-message-list>
  </ion-content>

  <ion-footer-bar class="toc-message-input-footer"
    ng-click="channelView.viewLatest()">
    <toc-message-input-area class="toc-message-input-area"
      channel-id="{{::channelView.channelId}}">
    </toc-message-input-area>
  </ion-footer-bar>
</ion-view>
