<ion-view view-title="{{channelView.contact.userInfo.displayName}}">
  <div class="bar bar-subheader toc-channel-subheader">
    <toc-channel-card channel-id="{{::channelView.channelId}}"
      ng-click="channelView.viewLatest()">
    </toc-channel-card>
  </div>

  <ion-content class="has-subheader">
    <toc-message-list channel-id="{{::channelView.channelId}}">
    </toc-message-list>
  </ion-content>
  <!-- TODO: refactor into separate component -->
  <ion-footer-bar class="toc-message-input-footer">
    <form class="toc-message-input-form" id="toc-message-input-form"
      ng-submit="channelView.send()">
    </form>
    <div class="col-80">
      <input form="toc-message-input-form"
        class="toc-message-input-area"
        type="text" placeholder="Message"
        ng-model="channelView.message" toc-auto-focus>
      </input>
    </div>
    <div class="col-20">
      <button form="toc-message-input-form" type="submit"
        class="button button-block button-outline button-balanced"
        toc-spinner-button
        loading-promise="channelView.sending">
        Send
        <!-- FIXME: memory leak in ion-spinner.
          see https://github.com/driftyco/ionic/issues/3583 -->
        <!-- <ion-spinner icon="ripple" class="spinner-light toc-send-spinner">
        </ion-spinner> -->
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
