$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #2196F3 !default;
$calm:                            #00BCD4 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #00BCD4 !default;
$dark:                            #444 !default;

$button-border-radius: 0 !default;
$button-bar-button-font-size: 15px !default;

$card-border-radius: 0 !default;
$popover-border-radius: 0 !default;

$popup-button-border-radius: 0 !default;
$popup-background-color: #fff !default;

$bar-light-border: white !default;
$bar-footer-height: 60px !default;
$bar-subfooter-height: 55px !default;
$bar-subheader-height: 75px !default;

$toc-separator-color: transparentize($dark, 0.7);

$toc-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);

// Library imports
@import 'libraries/libraries';
// App imports
@import 'views/views';
@import 'components/components';

// slightly edited forms from https://github.com/ShakrMedia/tuesday
@keyframes tocFadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes tocFadeOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
}

@keyframes tocFadeOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
}

.toc-notification-badge {
  margin-right: 0 !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: $light;
  font-size: 12px;
};

form.ng-pristine button[type='submit'] {
  opacity: 1;
}

.button {
  @media (min-width: 768px) {
    max-width: 380px;
  }
}

.item-radio {
  .radio-icon {
    color: $calm;
  }
}

.popup-head {
  background-color: $bar-positive-bg;
  border-bottom: 1px solid $bar-positive-border;
  h3 {
    color: $bar-positive-text;
  }
}

.popup-body {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.popup-buttons {
  box-shadow: 0px -2px 2px $toc-separator-color;
  padding: 0px 10px;
  .button:nth-child(2) {
    margin-left: 5px;
  }
}

// input::-moz-placeholder,
// input:-ms-input-placeholder {
// input::-webkit-input-placeholder {
//   color: $toc-highlight-text-color-dark;
// }
//
// input::-moz-placeholder {
//   color: $toc-highlight-text-color-dark;
// }
//
// input:-ms-input-placeholder {
//   color: $toc-highlight-text-color-dark;
// }
//
// .item-note {
//   color: $toc-highlight-text-color-dark;
// }

.item-input-wrapper {
  border-radius: 0;
}

@media (min-width: 680px) {
  .modal-backdrop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hide {
      display: none;
    }
  }

  .modal-wrapper {
    width: 80%;
    height: 80%;
    max-width: 400px;
    max-height: 550px;
    z-index: 11;
    // pointer-events: none;
  }

  .toc-modal-container {
    width: 100%;
    height: 100%;
    position: inherit;
    // position: inherit;?
  }

  .slide-in-up {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
  }

  .modal {
    width: 100%;
    height: 100%;
    position: inherit;
  }
}

.menu-content {
  box-shadow:
    -2px 0px 2px $toc-separator-color,
    2px 0px 2px $toc-separator-color;
}

.bar-footer {
  box-shadow: 0px -2px 2px $toc-separator-color;
  border-top-color: $light;
  .col {
    padding: 3px 5px;
    display: flex;
    justify-content: center;
  }
  .button {
    // max-width: 325px;
    width: 100%;
    margin-top: 0;
    height: 42px;
    line-height: 40px;
  }
}

.bar-subfooter {
  z-index: 10; // to get it to appear above footer shadow
  box-shadow: 0px -2px 2px $toc-separator-color;
  padding-bottom: 0;
  .col {
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 0;
  }
  .button {
    // max-width: 325px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 42px;
    line-height: 40px;
  }
}

.bar-subheader {
  padding: 0;
  box-shadow: 0px 2px 2px $toc-separator-color;
  // border-bottom: 0;
  .item {
    border-color: transparent;
  }
}

.item-radio.item-icon-left {
  .item-content {
    padding-left: 54px;
  }
  .radio-icon {
    left: unset;
  }
}

.button {
  line-height: 40px;
  min-height: 42px;
  opacity: 1;
  transition: opacity 0.75s ease-in;
}

.button[disabled] {
  transition: opacity 0.75s ease-in;
}

.toc-square-avatar .item-content > img:first-child {
  border-radius: 0;
}

.toc-logo-outline {
  margin: 0 8px;
  width: 30px;
  height: 33px;
  background-position-y: 2px !important;
  background-image: url(assets/images/logo-outline.svg) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
//
// .toc-flex-container {
//   @include display-flex;
//   @include flex-direction(column);
//   height: 100%;
// }
//
// .toc-flex-content {
//   @include flex(1);
//   z-index: 1;
// }
//
// .toc-flex-footer {
//   background-color: $light;
//   z-index: 2;
// }
