$toc-tablet-width: 768px;
$toc-notebook-half-width: 940px;
$toc-notebook-width: 1200px;
$toc-desktop-width: 1600px;

$toc-primary-bg-color-dark: #011727;
$toc-secondary-bg-color-dark: #01354c;
$toc-primary-bg-color-light: #eef1f0;
$toc-secondary-bg-color-light: #e5edeb;

$toc-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);

$toc-background-gradient-dark: radial-gradient(
  ellipse farthest-side at 0px 0px,
  $toc-secondary-bg-color-dark 0%,
  $toc-primary-bg-color-dark 100%
);

@keyframes tocFadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tocFadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toc-loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $toc-primary-bg-color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toc-loading-screen-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 90vh;
  height: 90vh;
  background-image: $toc-background-gradient-dark;
}

.toc-loading-screen-logo-container {
  position: relative;
  z-index: 2;
  width: 150px;
  height: 150px;
  @media (min-width: $toc-tablet-width) {
    width: 200px;
    height: 200px;
  }
}

.toc-loading-screen-logo-base {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: tocFadeInTop 1s 1s $toc-animation-timing-function both;
  background: url(assets/images/logo-loading-base.svg);
  background-size: cover;
}
.toc-loading-screen-logo-dot-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: tocFadeInBottom 1s 1.1s $toc-animation-timing-function both;
  background: url(assets/images/logo-loading-dot-1.svg);
  background-size: cover;
}
.toc-loading-screen-logo-dot-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: tocFadeInBottom 1s 1.2s $toc-animation-timing-function both;
  background: url(assets/images/logo-loading-dot-2.svg);
  background-size: cover;
}
.toc-loading-screen-logo-dot-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: tocFadeInBottom 1s 1.3s $toc-animation-timing-function both;
  background: url(assets/images/logo-loading-dot-3.svg);
  background-size: cover;
}
