@import 'dependencies/npm/angular-toastr@1.4.1/dist/angular-toastr';

.toast-top-right {
  top: $bar-height + 12px;
}

#toast-container {
  &> div {
    display: flex;
    align-items: center;
    border-radius: 0px;
    box-shadow: $card-box-shadow;
    padding: 12px;
    overflow: hidden;
    width: 250px;
    &> div {
      display: inline-block;
    }
    &:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    &:before {
      font-size: 24px;
      margin: 0 12px 0 6px;
    }
    .toast-message, .toast-title {
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &> .toast-error {
    background-image: none !important;
    background-color: $assertive;
  }
  &> .toast-success {
    background-image: none !important;
    background-color: $balanced;
  }
  &> .toast-info {
    background-image: none !important;
    background-color: $calm;
  }
  &> .toast-warning {
    background-image: none !important;
    background-color: $energized;
  }
}
