<div class="toc-message-input-area">
  <form class="toc-message-input-form"
    id="toc-message-input-form-{{::channelView.channelId}}"
    ng-submit="channelView.send()">
    <div class="col-80">
      <input type="text" placeholder="Message"
        form="toc-message-input-form-{{::channelView.channelId}}"
        class="toc-message-input-field"
        ng-model="channelView.message" toc-auto-focus>
      </input>
    </div>
    <div class="col-20">
      <button type="submit"
        form="toc-message-input-form-{{::channelView.channelId}}"
        class="button button-block button-outline button-balanced">
        Send
      </button>
    </div>
  </form>
</div>
