<ion-list>
  <div class="item item-divider item-calm">
    You
  </div>
  <div ui-sref="app.home" menu-close>
    <div class="row balanced-bg"></div>
    <ion-item class="item item-avatar">
      <img src="http://cdn.libravatar.org/avatar/2012345b479e2123456ec07711c08d50?d=identicon" alt="Avatar for {{channelList.userInfo.email}}" />
      <h2>{{channelList.userInfo.displayName}}</h2>
      <p>{{channelList.userInfo.id}}</p>
    </ion-item>
  </div>

  <div class="item item-divider item-royal">
    Groups
  </div>
  <form name="toc-group-create-form">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Group Name">
      </label>
      <button type="submit" class="button button-clear button-balanced"
        disabled>
        <i class="icon ion-plus"></i>
        <!-- <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner> -->
      </button>
    </div>
  </form>

  <div class="item item-divider item-balanced">
    Contacts
  </div>
  <form name="toc-contact-invite-form">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Contact ID"
          ng-model="channelList.inviteId">
      </label>
      <button type="submit" class="button button-clear button-balanced"
        ng-click="channelList.invite()" toc-spinner-button
        loading-promise="channelList.inviting">
        <i class="icon ion-plus"></i>
        <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
      </button>
    </div>
  </form>
  <div ng-repeat="(id, channel) in channelList.channels track by id"
    ui-sref="app.channel({channelId: id})" menu-close>
    <div class="row" ng-class="{
      'dark-bg':
        channelList.contacts[channel.channelInfo.contactIds[0]].statusId === 0,
      'balanced-bg':
        channelList.contacts[channel.channelInfo.contactIds[0]].statusId === 1,
      'stable-bg':
        channelList.contacts[channel.channelInfo.contactIds[0]].statusId === undefined
      }"></div>
    <ion-item class="item item-avatar"
      ng-class="{'item-button-right': channel.channelInfo.pendingHandshake}">
      <img src="http://cdn.libravatar.org/avatar/2012345b479e2123456ec07711c08d50?d=identicon" alt="Avatar for {{channelList.contacts[channel.channelInfo.contactIds[0]].userInfo.email}}" />
      <h2>{{channelList.contacts[channel.channelInfo.contactIds[0]].userInfo.displayName}}</h2>
      <p>{{channelList.contacts[channel.channelInfo.contactIds[0]].userInfo.id}}</p>
      <div class="buttons" ng-if="channel.channelInfo.pendingHandshake">
        <button class="button button-balanced button-clear"
          ng-click="channelList.acceptInvite(channel.channelInfo);
            $event.stopPropagation()" toc-spinner-button
            loading-promise="channelList.invitesAccepting[id]">
          <i class="icon ion-checkmark"></i>
          <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
        </button>
        <button class="button button-assertive button-clear">
          <i class="icon ion-close"></i>
        </button>
      </div>
    </ion-item>
  </div>
</ion-list>
