<ion-view view-title="Toc Messenger">
  <div class="bar bar-subheader">
    <toc-user-card enable-dismiss-notifications>
    </toc-user-card>
  </div>
  <ion-content class="has-subheader has-subfooter">
    <toc-notification-list></toc-notification-list>
  </ion-content>
  <div class="bar bar-subfooter">
    <div class="col">
      <button class="button button-block button-calm button-outline"
        ng-click="::homeView.showUpdateProfileModal()">
        Update your profile
      </button>
    </div>
  </div>
  <ion-footer-bar>
    <div class="col">
      <button class="button button-block button-positive"
        ng-click="::homeView.showBeginConversationModal()">
        Start a conversation
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
