$toc-tablet-width: 768px;
$toc-notebook-half-width: 940px;
$toc-notebook-width: 1200px;
$toc-desktop-width: 1600px;

@mixin toc-landing-font($font-size) {
  font-size: $font-size * 5/6;

  @media (min-width: $toc-tablet-width) {
    font-size: $font-size;
  }
}

@mixin toc-margin-bottom($margin-size) {
  margin-bottom: $margin-size * 5/6;

  @media (min-width: $toc-tablet-width) {
    margin-bottom: $margin-size;
  }
}

$toc-primary-bg-color-dark: #00718f;
$toc-secondary-bg-color-dark: #00bbcc;
$toc-primary-bg-color-medium: #a0a6aa;
$toc-secondary-bg-color-medium: #a1b8c1;
$toc-primary-bg-color-light: #eef1f0;
$toc-secondary-bg-color-light: #e5edeb;

$toc-primary-text-color-light: #f8f9fa;
$toc-secondary-text-color-light: #e5edeb;
$toc-primary-text-color-dark: #00718f;
$toc-secondary-text-color-dark: #00bbcc;
$toc-highlight-text-color-dark: #6eaeba;

$toc-background-gradient-dark: radial-gradient(
  ellipse farthest-side at 0px 0px,
  $toc-secondary-bg-color-dark 0%,
  $toc-primary-bg-color-dark 100%
);

$toc-background-gradient-light: radial-gradient(
  ellipse farthest-side at 0px 0px,
  $toc-secondary-bg-color-light 0%,
  $toc-primary-bg-color-light 100%
);

$toc-light-color: #fcfcfc;
$toc-white-color: #FFFFFF;

.toc-body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  //makes anchor scrolling smooth
  //supported natively on firefox.
  //in chrome users need to set the smooth scroll flag.
  //polyfilling in js for chrome
  scroll-behavior: smooth;
}

.toc-landing-header {
  position: absolute;
  z-index: 1;
  color: $toc-primary-text-color-light;
  display: flex;
  justify-content: center;
  height: 140px;
  @media (min-width: $toc-tablet-width) {
    height: 210px;
  }
  width: 100%;
}

.toc-landing-header-container {
  max-width: $toc-notebook-width;
  width: 90%;
  border-bottom: 1px solid transparentize($toc-secondary-text-color-light, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toc-header-logo-container {
  flex: 1 1 180px;
  display: flex;
  justify-content: center;
}

.toc-header-logo {
  width: 120px;
  height: 120px;
  @media (min-width: $toc-tablet-width) {
    width: 180px;
    height: 180px;
  }
  background: url(app/assets/images/logo-large.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.toc-landing-content {
  // overflow: scroll;
}

.toc-fullscreen-section {
  background-color: $toc-primary-bg-color-light;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toc-button-light {
  display: block;
  box-sizing: border-box;
  color: transparentize($toc-primary-text-color-light, 0.2);
  border: none;
  outline: 2px solid transparentize($toc-primary-text-color-light, 0.2);
  background: none;
  box-shadow: 0px 0px 10px $toc-primary-text-color-light;
  font-weight: 300;
  width: 100%;
  padding: 9px 18px;
  text-decoration: none;
  @media (min-width: $toc-tablet-width) {
    padding: 12px 24px;
  }
  @include toc-landing-font(24px);

  transition: 0.1s linear;

  &:hover {
    color: $toc-primary-text-color-light;
    outline-color: $toc-primary-text-color-light;
  }

  &:active {
    background: $toc-primary-text-color-light;
    color: $toc-primary-text-color-dark;
  }
}

.toc-primary-button-light {
  background: transparentize($toc-primary-text-color-light, 0.2);
  border: none;
  color: $toc-primary-text-color-dark;
  padding: 9px 18px;
  @media (min-width: $toc-tablet-width) {
    padding: 12px 24px;
  }
  @include toc-landing-font(24px);

  &:hover {
    color: $toc-primary-text-color-dark;
    background: $toc-primary-text-color-light;
    outline-color: $toc-primary-text-color-light;
  }

  &:active {
    background: none;
    color: $toc-primary-text-color-light;
  }
}

.toc-fullscreen-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: $toc-desktop-width;
}

#toc-main-section {
  background-color: $toc-primary-bg-color-dark;
  .toc-fullscreen-container {
    padding-top: 140px;
    @media (min-width: $toc-tablet-width) {
      padding-top: 210px;
    }
  }
}

.toc-main-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 90vh;
  max-width: 100%;
  height: 90vh;
  background-image: $toc-background-gradient-dark;
  background-size: 90vh 90vh;
}

.toc-main-content {
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  padding-top: 48px;
}

.toc-main-heading {
  @include toc-margin-bottom(45px);
  width: 100%;
  max-width: $toc-tablet-width;
  h1 {
    @include toc-landing-font(40px);
    color: $toc-primary-text-color-light;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
  }
}

.toc-main-message {
  @include toc-margin-bottom(45px);
  width: 100%;
  max-width: $toc-tablet-width;
  p {
    @include toc-landing-font(21px);
    @include toc-margin-bottom(30px);
    line-height: 1.5;
    margin-top: 0;
    color: $toc-secondary-text-color-light;
  }
}

.toc-main-actions {
  max-width: 400px;
  width: 90%;
}

.toc-main-action {
  flex: 1 1 auto;
  @include toc-margin-bottom(16px);
}

.toc-main-hidden-action {
}

.toc-main-images {
  flex: 1 1 300px;
  display: flex;
  z-index: 2;
  padding: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toc-main-image-phone {
  width: 300px;
  height: 630px;
  background: url(app/assets/images/phone-outline.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
