<ion-content class="has-subfooter">
  <div class="list">
    <div class="item item-divider item-calm item-clear">
      Select a cloud storage service
    </div>
    <ion-radio class="item item-avatar toc-square-avatar"
      ng-repeat="(id, service) in ::cloudConnectForm.services track by id"
      ng-model="cloudConnectForm.selectedService" ng-value="::id">
      <img ng-src="assets/images/{{::service.img}}"
        alt="Avatar for {{::service.name}}" />
      <h2>{{::service.name}}</h2>
      <p>{{::service.description}}</p>
    </ion-radio>
    <!-- <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="password" placeholder="Your remoteStorage.io email."
        ng-model="cloudConnectForm.email" toc-auto-focus>
    </label> -->
  </div>
</ion-content>
<div class="bar bar-subfooter">
  <div class="col">
    <a onclick="window.open('https://remotestorage.io/get/', '_system');"
      class="button button-block button-outline button-royal">
      Get a storage account
    </a>
  </div>
</div>
<ion-footer-bar>
  <div class="col">
    <button class="button button-block button-outline button-calm"
      ng-click="::cloudConnectForm.goBack()">
      Back
    </button>
  </div>
  <div class="col">
    <button class="button button-block button-outline button-balanced"
      ng-click="::cloudConnectForm.connect()">
      Connect
    </button>
  </div>
</ion-footer-bar>
