.toc-message-input-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.toc-message-input-field-container {
  flex-grow: 1;
  padding: 3px 5px;
}

.toc-message-input-send-container {
  flex-basis: 75px;
  padding: 3px 5px;
  .button {
    margin-bottom: 0;
  }
}

.toc-message-input-field {
  // outline: 1px solid $balanced !important;
  border: 1px solid $button-positive-border !important;
  height: 42px !important;
  padding: 4px 12px !important;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  resize: none;
  line-height: unset !important;
}
