<div class="card list">
  <div class="item item-divider item-calm">
    Welcome!
  </div>
  <div class="item item-avatar">
    <img src="http://www.gravatar.com/avatar/2012345b479e2123456ec07710c08d50?d=identicon" alt="New User 1" />
    <h2>New User 1</h2>
    <p>newuserid1</p>
  </div>
  <label class="item item-input item-floating-label">
    <span class="input-label">Display Name</span>
    <input type="text" placeholder="Display Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <button class="item button button-full button-balanced">
    Create User
  </button>
</div>
